@model ELibrarySystem.Web.ViewModels.UserAccount.ProfilUserViewModel

@{
    ViewData["Title"] = "Profile";
}

<div class=" container">
    <div class="row">
        <div class="col-md-12">
            <h2>Профил</h2>

        </div>
        <div class="col-md-12">
            <h3>@ViewData["message"]</h3>
        </div>
    </div>

    <hr />
    <div class="row">

        <div class="col-md-12">
            <form asp-action="Profile" asp-route-returnUrl="@ViewData["AddBook"]">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <!-- <div class="form-group row">
        <label asp-for="Photos" class="control-label col-md-2"></label>
        <input asp-for="Photos" class="form-control col-md-5" />
        <label class="form-control col-md-5"></label>
    </div>-->


                <div class="form-group row">
                    <label asp-for="Avatar" class="control-label col-md-2">Аватар</label>
                    <input asp-for="Avatar" class="form-control col-md-6" />
                    <span asp-validation-for="Avatar" class="text-danger col-md-4"></span>
                </div>
                <div class="form-group row">
                    <label asp-for="FirstName" class="control-label col-md-2">Име</label>
                    <input asp-for="FirstName" class="form-control col-md-6" />
                    <span asp-validation-for="FirstName" class="text-danger col-md-4"></span>
                </div>

                <div class="form-group row">
                    <label asp-for="LastName" class="control-label col-md-2">Фамилия</label>
                    <input asp-for="LastName" class="form-control col-md-6" />
                    <span asp-validation-for="LastName" class="text-danger col-md-4"></span>
                </div>
                <div class="form-group row">
                    <span class="text-danger col-md-6"></span>

                    <input type="submit" value="Запази промените" class="btn btn-primary col-md-2" />
                </div>
                <div class="form-group row">
                    <span class="text-danger col-md-6"></span>
                    <input type="submit" value="Направи ме библиотекар" asp-action="ReturnigGivenBook"  class="btn btn-primary col-md-2" />
                </div>


            </form>
        </div>
    </div>
</div>