@using Microsoft.AspNetCore.Identity
@using ELibrarySystem.Data.Models;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<a asp-area="" asp-controller="LibraryAccount" asp-action="Stats">
    Статистика
</a>
