@using Microsoft.AspNetCore.Identity
@using ELibrarySystem.Data.Models;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Начало";
}
@model ELibrarySystem.Web.ViewModels.LibraryAccount.IndexLibraryViewModel


<h1>Начало</h1>

<div class="container" style="background:#f7f7f7">
    <div class="row">
        <div class="col-md-4">

            <h3>Всички добавени книги @Model.CountAddedBooks</h3>

            <hr />
        </div>
        <div class="col-md-4">
            <h3>Брой дадени книги @Model.CountGettedBooks</h3>

            <hr />
        </div>
        <div class="col-md-4">
            <h3>Брой върнати книги @Model.CountTakenBooks</h3>

            <hr />
        </div>
    </div>
</div>





<a asp-area="" asp-controller="LibraryAccount" asp-action="Stats">
    Статистика
</a>
