@model ELibrarySystem.Web.ViewModels.HomeViewModels.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<!-- ***** Welcome Area Start ***** -->
<section class="welcome-area">
    <!-- Single Welcome Slide -->
    <div class="welcome-welcome-slide bg-gradient-overlay jarallax" style="background-image: url(img/bg-img/books.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <!-- Welcome Text -->
                    <div class="welcome-text">


                        <h3 style="color:white">
                            Вселената - някои я наричат Библиотеката. - Хорхе Луис Борхес
                        </h3>
                        <br>
                        <br>

                        <div class="row" style="color:white">


                            <a asp-area="" asp-action="LogInPage" asp-controller="Home" class="btn btn-primary col-md-3">
                                Вход
                            </a>
                            <span class="col-md-1"></span>
                            <a asp-area="" asp-action="RegesterAsUser" asp-controller="Home" class="btn btn-primary col-md-3">
                                Регистрация за читател
                            </a>
                            <span class="col-md-1"></span>
                            <a asp-area="" asp-action="RegesterAsLibrary" asp-controller="Home" class="btn btn-primary col-md-3">
                                Регистрация за библиотека
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
