@model ELibrarySystem.Web.ViewModels.HomeViewModels.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<!-- ***** Welcome Area Start ***** -->
<section class="welcome-area">
        <!-- Single Welcome Slide -->
        <div class="welcome-welcome-slide bg-gradient-overlay jarallax" style="background-image: url(img/bg-img/books.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Welcome Text -->
                        <div class="welcome-text">


                            <h3 style="color:white">
                                Вселената - някои я наричат Библиотеката. - Хорхе Луис Борхес
                            </h3>
                            <br>
                            <br>

                            <div class="row" style="color:white">
                                <div class="col-md-6">

                                    <h3 style="color:white">Вход</h3>
                                    <form asp-route-returnUrl="ViewData[" ReturnUrl"]" method="post">
                                        
                                        <div class="container">
                                            <div class="text-danger">@ViewBag.LoginErr </div>
                                            <div class="form-group row">
                                                <label asp-for="LoginViewModel.Email" class="control-label col-md-4"></label>
                                                <input asp-for="LoginViewModel.Email" value="" class="form-control col-md-8" />
                                                <span asp-validation-for="LoginViewModel.Email" class="text-danger col-md-12"></span>
                                            </div>
                                            <div class="form-group row">
                                                <label asp-for="LoginViewModel.Password" class="control-label col-md-4">Парола</label>
                                                <input asp-for="LoginViewModel.Password" value="" class="form-control col-md-8" />
                                                <span asp-validation-for="LoginViewModel.Password" class="text-danger col-md-12"></span>
                                            </div>

                                            <label asp-for="LoginViewModel.RememberMe">
                                                <input asp-for="LoginViewModel.RememberMe" />
                                                @Html.DisplayNameFor(m => m.LoginViewModel.RememberMe)
                                            </label>

                                            <div class="form-group">
                                                <input type="submit" value="Влез" class="btn btn-primary" />
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="col-md-6">
                                    <h3 style="color:white">Регистрация</h3>

                                    <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                                        <div class="container">
                                            <div class="text-danger">@ViewBag.RegisterErr </div>

                                            <div class="form-group row">
                                                <label asp-for="RegisterViewModel.Email" class="control-label col-md-4"></label>
                                                <input asp-for="RegisterViewModel.Email" class="form-control col-md-8" />
                                                <span asp-validation-for="RegisterViewModel.Email" class="text-danger col-md-12"></span>
                                            </div>
                                            <div class="form-group row">
                                                <label asp-for="RegisterViewModel.Password" class="control-label col-md-4"></label>
                                                <input asp-for="RegisterViewModel.Password" class="form-control col-md-8" />
                                                <span asp-validation-for="RegisterViewModel.Password" class="text-danger col-md-12"></span>
                                            </div>
                                            <div class="form-group row">
                                                <label asp-for="RegisterViewModel.ConfirmPassword" class="control-label col-md-4"></label>
                                                <input asp-for="RegisterViewModel.ConfirmPassword" class="form-control col-md-8" />
                                                <span asp-validation-for="RegisterViewModel.ConfirmPassword" class="text-danger col-md-12"></span>
                                            </div>
                                            <div class="form-group row">

                                            </div>
                                            <input type="submit" value="Регистрирай се" class="btn btn-primary" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

